[user]
	name = Kunal Malviya
	email = kunalmalviya@hotmail.com
[includeIf "gitdir:~/Projects/code/keyjm/"]
	path = ~/.gitconfig-personal
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	excludesfile = ~/.gitignore
